/* 懒人图库 搜集整理 www.lanrentuku.com */

/* css 重置 */
body,div,ul,li { padding: 0; margin: 0; }
ul { list-style: none ; }
img { border: none; }
a { blr: expression(this.onFocus=this.blur()); outline: none; }

/*本例css*/
.www51buycom { width:260px; height:170px; position: relative; overflow:hidden; }
.www51buycom  li p{ display:block; height:30px; line-height:30px; text-align:center; font-weight:700;}
.www51buycom li p a,.www51buycom li p a:hover{ color:#349f00;}

/*数字按钮样式*/
.www51buycom .num { overflow:hidden; height: 18px; position: absolute; bottom:10px; right: 5px; zoom:1; z-index:3 }
.www51buycom .num li { width: 18px; height: 18px; line-height: 18px; text-align: center; font-weight:100; font-family: "微软雅黑", Arial; color: #FFFFFF; background: #444444; margin-right: 5px; border-radius:50%; cursor:pointer; float: left; }
.www51buycom .num li.on { background: #FF7700; } /*当前项*/
.www51buycom .num

/*上一个  下一个*/
.www51buycom .prev,
.www51buycom .next { display: none; width: 40px; height: 100px; background: url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/btn.png) no-repeat; position: absolute; top: 115px;}
.www51buycom .prev { left: 0; }
.www51buycom .next { right: 0; background-position: right }
