/* StyleName:汽车人*/
/* 2016/6/1 by WZM*/
/* 全局 */
html,body {height:100%; background:#f3f1f1;  }
body {font:14px "微软雅黑",Arial,sans-serif; color:#4c4c4c;margin:0px; }
form,menu,dir,fieldset,blockquote,p,pre,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6 { padding:0; margin:0;}
ul,ol,dl { list-style:none; }
a {color:#666666;;text-decoration: none;}
a:hover {color:#666666;text-decoration:none;}
a img {border: none;}
.clear {clear: both;line-height: 0px;font-size:0px;}
.content {width:1200px;margin: 0 auto;  }
.left {float:left;}
.right {float:right;}
.mt10 {margin-top:10px;}
.oh {height:100%;overflow: hidden;}


/*头部*/
.top{ background:#313a41; height:50px;}
.logo{ width:230px;}
.nav_box{ width:665px;}

.nav li{ display:block; float:left; width:95px; height:50px;line-height:50px;font-size:14px; color:#cdcdcd; text-align:center;}
.nav li a{ display:block;color:#cdcdcd;width:95px; height:50px;}
.nav li a:hover{ display:block;width:95px; height:50px;color:#ffffff;font-weight:700;background:#3689b3;}
.nav li.cn a,.nav li.cn a:hover{ display:block;width:95px; font-weight:700;height:50px;color:#ffffff;background:#3689b3;}

.dl_top{ width:120px; padding-left:185px;}
.dl_top li{ display:block; float:left; width:60px; text-align:center; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/line.jpg) no-repeat left center; height:50px; line-height:50px; color:#a0a0a0; font-size:12px;}
.dl_top li a{color:#a0a0a0;}
.dl_top li a:hover{ color:#fff;}

/*banner*/
.banner{height:335px;}


.dl_box{  margin-left:900px;  margin-top:25px; width:260px; height:280px; padding:10px 20px; background:#383633;filter:alpha(opacity=90);   
      -moz-opacity:0.9;   
      -khtml-opacity: 0.9;   
      opacity: 0.7; color:#fff;   }
.dl_leibie{ height:30px; line-height:30px; margin-bottom:14px; border-bottom:1px dotted #f0f0f0;  text-align:left; font-weight:700; color:#fff;}

.name{ height:30px; line-height:30px; margin-bottom:12px; }
.name_l{ width:57px;  text-align:right;}
.name_r{ width:200px;}
.pwd{ height:30px; line-height:30px; margin-bottom:12px;}
.pwd_l{ width:57px;  text-align:right;}
.pwd_r{ width:200px;}
.leibie{ height:30px; width:260px; line-height:30px; margin-bottom:12px;}
.lp_l{ width:88px; }
.lp_m{ width:86px;}
.lp_r{ width:86px;}
.yanzheng{ height:20px; line-height:30px; margin-bottom:8px;}
.yanzheng_l{ width:57px;  text-align:right;}
.yanzheng_r{ width:200px;}
.wjpwd{height:20px; line-height:20px; text-align:right; padding-bottom:4px;  color:#fff;  }
.wjpwd a,.wjpwd a:hover{ color:#fff;}
.dl{ height:37px; line-height:37px;  padding-bottom:8px;  border-bottom:1px dotted #ccc;}


/*main*/
.main{ padding:20px 0px; width:100%;  }
.ny{padding:30px 15px; background:#fff;}
/*搜索*/
.sousuo_box{ border:1px solid #e3e3e3; background:#f9fbfb; padding:20px; height:100%; margin-bottom:25px;}
/*培训领域*/
.pxly{ font-size:12px; height:30px; line-height:30px; margin-bottom:5px;}
.pxly h4{ display:block;font-size:12px; float:left; font-weight:100; width:65px; text-align:left; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/pxly.jpg) no-repeat left 2px; padding-left:30px; color:#3689b3;  }
.pxly_box{ width:1030px;float:right;}
.pxly_box li{ display:block; float:left; padding-right:40px;}


/*擅长形式*/
.scxs{font-size:12px; height:30px; line-height:30px; margin-bottom:5px;}
.scxs h4{ display:block; float:left;font-size:12px;font-weight:100; width:65px; text-align:left; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/scxs.jpg) no-repeat left 2px; padding-left:30px; color:#3689b3;  }
.scxs_box{ width:1030px;float:right;}
.scxs_box li{ display:block; float:left; padding-right:40px;}

/*职位地址*/
.zwdz{font-size:12px; height:30px; line-height:30px; margin-bottom:5px;}
.zwdz h4{ display:block; float:left;font-size:12px; font-weight:100; width:65px; text-align:left; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/zwdz.jpg) no-repeat left 2px; padding-left:30px; color:#3689b3;  }
.zwdz_box{ width:1030px;float:right;}
.zwdz_box li{ display:block; float:left; padding-right:40px;}

/*培训形式*/
.pxxs{font-size:12px; height:30px; line-height:30px; margin-bottom:5px;}
.pxxs h4{ display:block; float:left;font-size:12px; font-weight:100; width:65px; text-align:left; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/pxxs.jpg) no-repeat left 4px; padding-left:30px; color:#3689b3;  }
.pxxs_box{ width:1030px;float:right;}
.pxxs_box li{ display:block; float:left; padding-right:40px;}
/*工作性质*/
.gzxz{font-size:12px; height:30px; line-height:30px; margin-bottom:5px;}
.gzxz h4{ display:block; float:left;font-size:12px; font-weight:100; width:65px; text-align:left; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/gzxz.jpg) no-repeat left 2px; padding-left:30px; color:#3689b3;  }
.gzxz_box{ width:1030px;float:right;}
.gzxz_box li{ display:block; float:left; padding-right:40px;}

/*搜索框*/
.sou{ height:35px; /*line-height:35px; */margin-top:10px;}
.sou h4{ display:block; float:left; font-weight:100; width:65px; text-align:left;  padding-left:30px; color:#3689b3;font-weight:700;  }
.sou_box{ width:1030px;float:right;}
.sou_box li{ display:block; float:left; padding-right:40px;}

/*培训时间*/
.pxsj{ font-size:12px; height:30px; line-height:30px; margin-bottom:5px;}
.pxsj h4{ display:block; float:left;font-size:12px; font-weight:100; width:65px; text-align:left; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/pxsj.jpg) no-repeat left 3px; padding-left:30px; color:#3689b3;  }
.pxsj_box{ width:1030px;float:right;}
.pxsj_box li{ display:block; float:left; padding-right:40px;}

/*销售*/
.xiaoshou_box{ height:340px; padding-bottom:15px;margin-bottom:30px; border-bottom:1px #ccc dotted;}
.xiaoshou_box h4{ display:block;font-weight:100; height:40px; border-bottom:2px solid #3689b3; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/xs_h4.jpg) no-repeat left center; line-height:40px; font-size:18px; color:#666;font-weight:100; padding-left:40px;  }
.xiaoshou_box h4 span{ display:block; float:right; color:#ff7d00; font-size:14px; font-weight:100;}
.xiaoshou_box h4 span a,.xiaoshou_box h4 span a:hover{color:#ff7d00;}


/*售后*/
.shouhou_box{ height:340px; padding-bottom:15px;margin-bottom:30px; border-bottom:1px #ccc dotted;}
.shouhou_box h4{ display:block;font-weight:100; height:40px; border-bottom:2px solid #3689b3; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/cp_h4.jpg) no-repeat left center; line-height:40px; font-size:18px; color:#666;font-weight:100; padding-left:40px;  }
.shouhou_box h4 span{ display:block; float:right; color:#ff7d00; font-size:14px; font-weight:100;}
.shouhou_box h4 span a,.shouhou_box h4 span a:hover{color:#ff7d00;}

/*客服*/
.kefu_box{ height:340px; padding-bottom:15px;margin-bottom:30px; border-bottom:1px #ccc dotted;}
.kefu_box h4{ display:block;font-weight:100; height:40px; border-bottom:2px solid #3689b3; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/fjs_h4.jpg) no-repeat left center; line-height:40px; font-size:18px; color:#666;font-weight:100; padding-left:40px;  }
.kefu_box h4 span{ display:block; float:right; color:#ff7d00; font-size:14px; font-weight:100;}
.kefu_box h4 span a,.kefu_box h4 span a:hover{color:#ff7d00;}

/*市场*/
.shichang_box{ height:340px; padding-bottom:15px;margin-bottom:30px; border-bottom:1px #ccc dotted;}
.shichang_box h4{ display:block;font-weight:100; height:40px; border-bottom:2px solid #3689b3; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/js_h4.jpg) no-repeat left center; line-height:40px; font-size:18px;  color:#666;font-weight:100; padding-left:40px;  }
.shichang_box h4 span{ display:block; float:right; color:#ff7d00; font-size:14px; font-weight:100;}
.shichang_box h4 span a,.shichang_box h4 span a:hover{color:#ff7d00;}

/*管理*/
.gl_box{ height:340px; padding-bottom:15px;margin-bottom:30px; border-bottom:1px #ccc dotted;}
.gl_box h4{ display:block;font-weight:100; height:40px; border-bottom:2px solid #3689b3; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/gl_h4.jpg) no-repeat left center; line-height:40px; font-size:18px; color:#666;font-weight:100; padding-left:40px;  }
.gl_box h4 span{ display:block; float:right; color:#ff7d00; font-size:14px; font-weight:100;}
.gl_box h4 span a,.gl_box h4 span a:hover{color:#ff7d00;}



/*内训*/
.neixun_box{ height:340px; padding-bottom:15px;margin-bottom:30px; border-bottom:1px #ccc dotted;}
.neixun_box h4{ display:block;font-weight:100; height:40px; border-bottom:2px solid #3689b3; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/cw_h4.jpg) no-repeat left center; line-height:40px; font-size:18px; color:#666;font-weight:100; padding-left:40px;  }
.neixun_box h4 span{ display:block; float:right; color:#ff7d00; font-size:14px; font-weight:100;}
.neixun_box h4 span a,.neixun_box h4 span a:hover{color:#ff7d00;}


/*生产*/
.shengchan_box{ height:340px; padding-bottom:15px;margin-bottom:30px; border-bottom:1px #ccc dotted;}
.shengchan_box h4{ display:block;font-weight:100; height:40px; border-bottom:2px solid #3689b3; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/xs_h4.jpg) no-repeat left center; line-height:40px; font-size:18px; color:#666;font-weight:100; padding-left:40px;  }
.shengchan_box h4 span{ display:block; float:right; color:#ff7d00; font-size:14px; font-weight:100;}
.shengchan_box h4 span a,.shengchan_box h4 span a:hover{color:#ff7d00;}


/*研发*/
.yanfa_box{ height:340px; padding-bottom:15px;margin-bottom:30px; border-bottom:1px #ccc dotted;}
.yanfa_box h4{ display:block;font-weight:100; height:40px; border-bottom:2px solid #3689b3; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/cp_h4.jpg) no-repeat left center; line-height:40px; font-size:18px; color:#666;font-weight:100; padding-left:40px;  }
.yanfa_box h4 span{ display:block; float:right; color:#ff7d00; font-size:14px; font-weight:100;}
.yanfa_box h4 span a,.yanfa_box h4 span a:hover{color:#ff7d00;}


/*培训列表*/
.pxshi{ padding:15px 0px 0px 0px; height:265px;}

.pxshi li{ display:block; float:left; width:214px; height:260px;background:#faf8f9; border:1px solid #e7e5e5;  padding:1px; margin-right:20px;}

.pxshi_pic{ width:214px; height:181px;}
.pxshi_pic img{ width:214px; height:181px;}
.pxshi_intro{ height:71px;width:204px; padding:4px 5px;}
.pxshi_name{ height:24px; line-height:24px;}
.pxshi_zw{ height:20px; line-height:20px;font-size:12px;margin-bottom:3px;margin-bottom:6px;}
.pxshi_zw_l{ text-align:left;}
.pxshi_zw_r{ text-align:right;}
.pxshi_xm{ color:#ff7d00; font-size:16px; margin-right:40px;   }
.pxshi_xm a,.pxshi_xm a:hover{color:#ff7d00;}
.pxshi_pl{ color:#ffa757; font-size:12px;}
.pxshi_pl a,.pxshi_pl a:hover{ color:#ffa757; font-size:12px;}
.pxshi_pl span{ color:#818180;}
.pxshi_zp{ height:20px; line-height:20px;font-size:14px;margin-bottom:5px;}
.pxshi_rz{}
.pxshi_rz span{ display:block; float:left; margin-right:8px;}
.pxsheng_zw{ margin-bottom:5px;}


/*培训公司*/
.pxgs{}
.pxgs_l{ width:920px;}
.pxgs_r{ width:230px;}
.qy_logo li{ display:block;height:76px;width:226px; padding:1px; border:1px solid #e3e3e3; margin-bottom:15px;}
.qy_logo li img{width:226px;height:76px;}


/*培训需求*/

.pxxq{ margin-bottom:50px; }
.pxxq li{
	margin-bottom: 15px;
	width: 888px;
	height: 105px;
	background: #fff;
	border: 1px solid #e5e5e5;
	padding: 15px;
	position: relative;
	left: 0px;
}
.pxxq_l{ width:383px;padding:10px 15px 0x 15px; border-right:1px dotted #e5e5e5;height: 105px;}
.zw_name{ font-size:16px; line-height:24px; height:24px;color:#3689b3; font-weight:700; margin-bottom:5px;}
.dy_box{ height:24px; line-height:24px;margin-bottom:8px; color:#666666;}
.dy_box span{ display:block; float:left; padding:0px 10px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/line2.jpg) no-repeat right center;color:#666666;}
.dy_box span a{color:#666666;}
.dy_box span.cn a,.dy_box span.cn a:hover{color:#ff7d00;}
.fb_box{ height:24px; line-height:24px; font-size:12px; color:#9c9c9c; }
.fb_box a,.fb_box a:hover{color:#9c9c9c;}
.fb_box span{ display:block; float:left; padding:0px 10px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/line.jpg) no-repeat right center;}

.pingpai{height:20px; line-height:20px; font-size:12px;margin-bottom:4px; }
.pingpai em{ float:left;font-style:normal; font-weight:100;}
.pingpai span{ display:block; float:left; margin-right:5px; border:1px solid #bed8e5; height:18px; line-height:18px;padding:0px 10px;}


.pxxq_r{ width:475px;padding:10px 0px 0x 15px; }
.qy{ height:55px; margin-bottom:15px; }
.qy_l{ width:100px; height:50px; border:1px solid #f0f0f0; padding:2px; margin-right:10px;}
.qy_r{ width:355px;}
.qy_name{ font-size:16px; line-height:24px; height:24px; color:#000; font-weight:100; margin-bottom:4px;}
.qy_name span{ display:block; float:right; font-size:12px; font-weight:100; padding-right:35px;color:#3e9dcb;}
.qy_name span a,.qy_name span a:hover{color:#3e9dcb;}


.jyfw{ line-height:24px; height:24px; color:#9c9c9c; font-weight:100}
.jyfw a,.jyfw a:hover{color:#9c9c9c;}
.fl{ }
.fl span{padding:0px 10px;  background:#edf8ff; border:1px solid #e1f2fa; margin-right:10px; height:24px; line-height:24px; font-size:12px; }
.fl span a,.fl span a:hover{ color:#636665;}
.qz{
	position: absolute;
	left: 878px;
	top: -1px;
	background: url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/qz.gif) no-repeat right top;
	height: 43px;
	width: 41px;
} 
.jz{
	position: absolute;
	left: 878px;
	top: -1px;
	background: url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/jz.gif) no-repeat right top;
	height: 43px;
	width: 41px;
} 

/*分页*/
.fypage {padding:0px 0px 42px 0px;text-align: center;}
.fypage span {padding: 5px 10px; background: #fff;border: 1px #ccc solid;margin-left: 5px;color: #777;}
.fypage a {padding: 5px 10px;background: #3d9ccc;border: 1px #3d9ccc solid;margin-left: 5px;color: #fff;}
.fypage a:hover {color: #fff;}




/*培训公司招聘信息*/
.ny_zhaopin{padding:30px 0px;}
.zhaopin_l{ width:890px;}
.zhaopin_r{ width:260px;border:1px solid #e1e1e1; background:#fff; padding:15px;}


/*培训公司招聘信息——右侧   企业基本信息*/
.zwfb_qy{ margin-bottom:30px;}
.zwfb_qy h4{ display:block; height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/qy_h4.jpg) no-repeat left center; padding-left:50px; font-size:18px; color:#3689b3; font-weight:100; border-bottom:1px solid #e1e1e1; margin-bottom:20px;}
.qy_box{ margin-bottom:10px;}
.qylogo_l{width:100px; height:50px; border:1px solid #f0f0f0; padding:2px;}
.qylogo_r{ width:130px; padding:5px 0px;}
.danbao{ height:20px; padding-bottom:5px; line-height:20px; color:#ffab00; font-size:12px; font-weight:700;}
.wydb{}

.qyjj{ }
.qyjj h5{ display:block; height:30px; line-height:30px; font-size:14px; color:#000; font-weight:700; }
.xz{ font-size:12px; line-height:30px;}
.dz{ font-size:12px; line-height:30px;}
.jj{ font-size:12px; line-height:30px;margin-bottom:20px;}

/*培训公司招聘信息——右侧   担保人列表*/
.dbr{ }
.dbr h4{ display:block; height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/dbr_h4.jpg) no-repeat left center; padding-left:40px; font-size:18px; color:#3689b3; font-weight:100; border-bottom:1px solid #e1e1e1; margin-bottom:20px;}
.dbr_box{}
.dbr_box li{ display:block; height:70px; margin-bottom:15px;}
.dbr_l img{ border:1px solid #ccc;}
.dbr_r{ width:190px;}
.dbr_name{  font-weight:700; height:30px; line-height:30px;}
.dbr_gs{ color:#3d9ccc; height:30px; line-height:30px;}
.dbr_gs a,.dbr_gs a:hover{color:#3d9ccc;}

/*培训公司招聘信息——左侧   职位名称及企业名称*/
.zp_qy{ height:88px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/zp_qy.jpg) no-repeat left top; padding:40px 30px 20px 25px;}
.zwmc{ height:45px; line-height:45px; color:#fff; font-size:24px; font-weight:100; }
.zwmc span{ display:block; float:right;font-size:16px; font-weight:100;}
.qymc{ height:35px; line-height:35px; color:#fff; font-size:16px; font-weight:100; }
.qymc span{ display:block; float:right; margin-right:10px;font-size:16px; font-weight:100;}


/*培训公司招聘信息——左侧   职位详情*/
.zhaopin_box{ border:1px solid #e1e1e1; border-top:0px; background:#fff; padding:25px 20px; margin-left:14px;  }
.xzdy{ border-bottom:1px  dotted #cccccc; padding-bottom:40px; margin-bottom:25px;}
.zwdy{ height:40px; line-height:40px; color:#ff7f00; font-size:30px; font-weight:100;}
.zwdy span{display:block; float:right;}
.shoucang{height:30px; line-height:30px; color:#3d9ccc; text-align:right;font-size:14px; font-weight:100;}

.didian{ background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/zb.jpg) no-repeat 15px center; height:30px; line-height:30px; font-size:14px; padding:0px 25px 0px 35px;}
.fb_sj{ background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/sz.jpg) no-repeat left center; height:30px; line-height:30px; font-size:14px; padding:0px 25px 0px 20px;}

.zwyq{ }
.zwyq li{ display:block; float:left;height:30px; line-height:30px; font-size:14px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/line2.jpg) no-repeat right center; padding:0px 15px; text-align:center;}
.fldy{ padding-top:15px;}
.fldy li{ display:block; float:left;height:24px; line-height:24px; color:#3689b3; font-size:12px; border:1px solid #e1f2fa; background:#eef9ff; padding:0px 15px; text-align:center; margin:0px 10px 15px 0px;}

/*培训公司招聘信息——左侧   岗位描述*/
.gwms{ border-bottom:1px  dotted #cccccc; padding-bottom:40px; margin-bottom:25px;}
.gwms h4{ display:block; height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/zwms_h4.jpg) no-repeat left 5px; padding-left:45px; font-size:18px; color:#3689b3; font-weight:100;}
.gwms_box{ padding:10px; line-height:30px; font-size:12px;}


/*培训公司招聘信息——左侧   岗位要求*/
.gwyq{ border-bottom:1px  dotted #cccccc; padding-bottom:40px; margin-bottom:25px;}
.gwyq h4{ display:block; height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/sxjy_h4.jpg) no-repeat left 5px; padding-left:45px; font-size:18px; color:#3689b3; font-weight:100;}
.gwyq_box{ padding:10px; line-height:30px; font-size:12px;}
.gwyq{ border-bottom:1px  dotted #cccccc; padding-bottom:40px; margin-bottom:25px;}


/*培训公司招聘信息——左侧   认证要求*/
.rzyq{ border-bottom:1px  dotted #cccccc; padding-bottom:40px; margin-bottom:25px;}
.rzyq h4{ display:block; height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/nlsz_h4.jpg) no-repeat left 5px; padding-left:45px; font-size:18px; color:#3689b3; font-weight:100;}
.rzyq_box{ padding:10px; line-height:30px; font-size:12px;}

/*培训公司招聘信息——左侧   其他信息*/
.qtxx{ border-bottom:1px  dotted #cccccc; padding-bottom:40px; margin-bottom:25px;}
.qtxx h4{ display:block; height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/qt_h4.jpg) no-repeat left 5px; padding-left:45px; font-size:18px; color:#3689b3; font-weight:100;}
.qtxx_box{ padding:10px; line-height:30px; font-size:12px;}

/*培训公司招聘信息——左侧   企业简介*/
.qy_intro{ border-bottom:1px  dotted #cccccc; padding-bottom:40px; margin-bottom:25px;}
.qy_intro h4{ display:block; height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/qyjj_h4.jpg) no-repeat left 5px; padding-left:45px; font-size:18px; color:#3689b3; font-weight:100;}
.qy_intro_box{ padding:10px; line-height:30px; font-size:12px;}


/*培训公司招聘信息——左侧   其他岗位*/
.qt_gw{ border-bottom:1px  dotted #cccccc; padding-bottom:40px; margin-bottom:25px;}
.qt_gw h4{ display:block; height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/qtgw_h4.jpg) no-repeat left 5px; padding-left:45px; font-size:18px; color:#3689b3; font-weight:100;}
.qt_gw_box{ padding:30px 30px 0px 30px; line-height:30px; font-size:12px;}
.qt_gw li{ display:block;text-align:left; height:100%; overflow:hidden;padding:10px 20px; line-height:30px; margin-bottom:40px; background:#fafafa;}

.gw_mingcheng{line-height:40px; font-weight:100; font-size:18px; color:#3689b3;}
.gzdaiyu{height:35px; line-height:40px; font-weight:100; font-size:18px; color:#ff7f00; }
.gongsi_m{line-height:40px; font-weight:100; font-size:18px; color:#000;}
.dy{ height:30px; line-height:30px;}
.tdjl{ padding-top:15px;}





/*汽车人个人信息*/
.ny_pxshi{padding:30px 0px;}
.ny_pxshi_l{ width:860px;border:1px solid #e1e1e1; background:#fff; padding:15px;}
.ny_pxshi_r{ width:260px;border:1px solid #e1e1e1; background:#fff; padding:15px;}

/*汽车人个人信息——左侧  汽车人基本信息*/
.pxshi_xx{ border-bottom:1px dotted #ccc; padding:20px 15px 40px 15px; margin-bottom:30px;}
.zhaopian{width:200px;}
.zhaopian img{border:1px solid #d9d9d9; padding:4px; width:181px; height:153px;}
.xinxi{ width:615px;}
.mingzi{ margin-bottom:10px;}
.mingzi_l{ width:100px; color:#ff7f00; font-size:24px; height:40px; line-height:40px;}
.mingzi_m{ width:260px; padding-top:15px;}
.mingzi_m span{ display:block; float:left; margin-right:8px;}

.mingzi_r{ color:#ffa757;padding-top:13px;}
.pinglun{ padding-top:5px;}
.pinglun span{ color:#818180;padding-top:5px;}
.dianzan{ background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/dz2.jpg) no-repeat left 7px; padding-top:5px; margin-left:15px; padding-left:20px;}
.guanzhu{}

.ziping{ height:30px; line-height:30px; font-weight:700;margin-bottom:5px;}
.scxs2{height:18px; line-height:18px; }
.scxs2 em{ float:left;font-style:normal;color:#000; font-weight:700;}
.scxs2 span{ display:block; float:left; padding:0px 15px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/line.jpg) no-repeat right center;}
.lingyu em{ float:left;font-style:normal;color:#000; font-weight:700;}
.lingyu span{ display:block; float:left; padding:0px 15px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/line.jpg) no-repeat right center;}

.shijian{height:20px; line-height:20px; font-size:12px;  }
.shijian_l{ width:270px;}
.shijian_l em{ float:left;font-style:normal;color:#000; font-weight:700;}
.shijian_r{ width:150px; padding-right:60px;}
.shijian_r em{ float:left;font-style:normal;color:#000; font-weight:700;}

.qcr_jbxx{ margin-bottom:10px;}
.jiben{}
.ckcs{ padding-right:5px;}
.jiben span{ padding-right:15px;height:30px;line-height:30px;  margin-right:15px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/line.jpg) no-repeat right center;}
.qc_pp span{ display:block; float:right; margin-right:5px; border:1px solid #bed8e5; height:18px; line-height:18px;padding:0px 10px;}

/*汽车人个人信息——左侧  基本信息*/
.jiben_xx{ border-bottom:1px dotted #ccc; padding:20px 15px 40px 15px; margin-bottom:30px;}
.pxshi_bt{ background:#f0f8fc; height:40px;   padding:0px 15px;}
.jiben_xx h4{ display:block;height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/jbxx_h4.jpg) no-repeat left center; padding-left:40px; font-size:16px; color:#000; font-weight:100; }
.jiben_xx h4 span{ display:block; float:right;color:#ff7f00; font-size:12px; font-weight:100;}
.jiben_xx h4 span a,.jiben_xx h4 span a:hover{color:#ff7f00;}

.jiben_xx_box{ line-height:24px; padding:30px 15px 0px 15px; font-size:12px;}



/*汽车人个人信息——左侧  教育经历*/
.pxjingli{ border-bottom:1px dotted #ccc; padding:20px 15px 40px 15px; margin-bottom:30px;}
.pxjingli h4{ display:block;height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/pxjl_h4.jpg) no-repeat left center; padding-left:40px; font-size:16px; color:#000; font-weight:100; }
.pxjingli h4 span{ display:block; float:right;color:#ff7f00; font-size:12px; font-weight:100;}

.pxjingli_box{ padding:30px 15px 0px 15px; font-size:12px;}
.pxjingli_box li{ display:block; height:30px; line-height:30px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/icon.jpg) no-repeat 5px center;  padding-left:14px; font-size:12px;}
.pxjingli_box li span{ display:block; float:right; padding-right:5px; color:#3996c9;}
.pxjingli_box li span a,.pxjingli li span a:hover{ color:#3996c9;}



/*汽车人个人信息——左侧  所获认证*/
.shrz{ border-bottom:1px dotted #ccc; padding:20px 15px 40px 15px; margin-bottom:30px;}
.shrz h4{ display:block;height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/rz_h4.jpg) no-repeat left center; padding-left:40px; font-size:16px; color:#000; font-weight:100; }
.shrz h4 span{ display:block; float:right;color:#ff7f00; font-size:12px; font-weight:100;}
.shrz h4 span a,.shrz h4 span a:hover{color:#ff7f00;}
.shrz_box{ padding:30px 15px 0px 15px;  font-size:12px; line-height:30px;}
.shrz_box li{ display:block; float:left; width:265px; height:245px; margin-right:70px;}


/*汽车人个人信息——左侧  工作经验*/
.gzjl{ border-bottom:1px dotted #ccc; padding:20px 15px 40px 15px; margin-bottom:30px;}
.gzjl h4{ display:block;height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/gzjl_h4.jpg) no-repeat left center; padding-left:40px; font-size:16px; color:#000; font-weight:100; }
.gzjl h4 span{ display:block; float:right;color:#ff7f00; font-size:12px; font-weight:100;}
.gzjl_box{ padding:30px 15px 0px 15px;  font-size:12px; line-height:30px;}
.gzjl_box li{ display:block; height:30px; line-height:30px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/icon.jpg) no-repeat 5px center;  padding-left:14px; font-size:12px;}

/*汽车人个人信息——左侧  自我评价*/
.zwpj{ border-bottom:1px dotted #ccc; padding:20px 15px 40px 15px; margin-bottom:30px;}
.zwpj h4{ display:block;height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/zwpj_h4.jpg) no-repeat left center; padding-left:40px; font-size:16px; color:#000; font-weight:100; }
.zwpj h4 span{ display:block; float:right;color:#ff7f00; font-size:12px; font-weight:100;}
.zwpj_box{ padding:30px 15px 0px 15px;  font-size:12px; line-height:30px;}
.zwpj_box li{ display:block; height:30px; line-height:30px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/icon.jpg) no-repeat 5px center;  padding-left:14px; font-size:12px;}



/*汽车人个人信息——左侧  培训师点评*/
.pxshi_dp{ border-bottom:1px dotted #ccc; padding:20px 15px 40px 15px; margin-bottom:30px;}
.pxshi_dp h4{ display:block;height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/dp_h4.jpg) no-repeat left center; padding-left:40px; font-size:16px; color:#000; font-weight:100; }
.pxshi_dp_box{ padding:40px 15px 0px 15px;  font-size:12px; line-height:30px;}



/*汽车人个人信息——右侧  关注*/
.pxshi_gz{ margin-bottom:30px;}
.pxshi_gz h4{ display:block; height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/js_h4.jpg) no-repeat left center; padding-left:35px; font-size:18px; color:#000; font-weight:100; border-bottom:1px solid #e1e1e1; margin-bottom:10px;}
.guanzhu{font-size:12px;}

.guanzhu li{ display:block; height:10px;  padding:15px 5px 10px 5px; border-bottom:1px dotted #ccc;}
.guanzhu li span img{  padding-left:10px;}


/*汽车人个人信息——右侧  朋友圈*/
.pyquan{ font-size:12px; }
.pyquan h4{ display:block; height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/dbr_h4.jpg) no-repeat left center; padding-left:40px; font-size:18px; color:#3689b3; font-weight:100; border-bottom:1px solid #e1e1e1; margin-bottom:20px;}
.pyquan_box{ }
.pyquan_box li{ display:block; height:70px; margin-bottom:15px;}
.pyquan_l img{ border:1px solid #ccc;}
.pyquan_r{ width:190px;}
.pyquan_name{  font-weight:700; height:30px; line-height:30px;}
.pyquan_gs{ color:#3d9ccc; height:30px; line-height:30px;}
.pyquan_gs a,.pyquan_gs a:hover{color:#3d9ccc;}

/*汽车人招聘企业*/
.zhaopin_qy{ background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/zpqy_bg.jpg) no-repeat center top; padding-top:40px; }
.qy_top{ height:145px; padding:30px 20px 0px 30px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/bg.png) repeat left top;}
.zpqy_logo{ height:110px; width:220px;
	 }
.zpqy_xx{ width:910px; }
.zpqy_xx_box{ height:55px;}
.zpqy_xx_l{  height:40px; line-height:40px; font-size:24px; color:#000; font-weight:100;}
.zpqy_xx_r{width:600px;}
.zpqy_xx_r span{ display:block; float:left; width:130px; height:30px; line-height:30px; font-size:14px; font-weight:100; padding-top:5px;}
.fl_dy{ }
.fl_dy li{ display:block; float:left; margin-right:15px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/dy_bg.gif) no-repeat left top; height:36px; width:72px; line-height:26px;text-align:center; font-size:12px;
}

.zp_qiye{ background:#fff;} 
.zp_qiye_l{ background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/zp_qy_r.jpg) repeat-y right top; width:870px; padding:15px}

/*汽车人招聘企业——左侧  公司简介*/
.gongsi_jj{ border-bottom:1px dotted #ccc; padding:20px 10px 40px 10px; margin-bottom:30px;}
.qiche_bt{ background:#f0f8fc; height:40px;   padding:0px 5px;}
.gongsi_jj h4{ display:block;height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/gongsi_jj_h4.jpg) no-repeat left center; padding-left:45px; font-size:16px; color:#000; font-weight:100; }
.gongsi_jj h4 span{ display:block; float:right;color:#ff7f00; font-size:12px; font-weight:100;}
.gongsi_jj h4 span a,.gongsi_jj h4 span a:hover{color:#ff7f00;}

.gongsi_jj_box{ line-height:24px; padding:30px 15px 0px 15px; font-size:12px;}

.qiye_zp{ padding:20px 10px 40px 10px; margin-bottom:30px;}
.qiche_bt{ background:#f0f8fc; height:40px;   padding:0px 5px;}
.qiye_zp h4{ display:block;height:40px; line-height:40px; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/qiye_zp_h4.jpg) no-repeat left center; padding-left:45px; font-size:16px; color:#000; font-weight:100; }
.qiye_zp h4 span{ display:block; float:right;height:40px; line-height:40px; color:#666; font-size:14px; padding-right:10px;}




.qiye_zp_box{ padding:30px 30px 0px 30px; line-height:30px; font-size:12px;}
.qiye_zp li{ display:block;text-align:left; height:100%; overflow:hidden;padding:10px 20px; line-height:30px; margin-bottom:40px; background:#fafafa;}
.zpgw_l{ width:550px;padding:10px 0px 0x 15px; border-right:1px dotted #e5e5e5;height:80px;}
.zpgw_r{ width:125px; margin-top:20px;}
.zp_qiye_r{ width:270px; padding:15px;}
/*底部信息*/
.footer{ width:100%; background:url(http://7xtuyf.com1.z0.glb.clouddn.com/website/images/footer_bg.jpg) repeat-x left top;height:90px; padding-top:40px;}

.bq{ line-height:24px; color:#000; text-align:center;}
