/* StyleName:培聘网*/
/* 2016/6/1 by WZM*/
/* 全局 */
html,body {height:100%; background:#f3f1f1;  }
body {font:14px "微软雅黑",Arial,sans-serif; color:#4c4c4c;margin:0px; }
form,menu,dir,fieldset,blockquote,p,pre,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6 { padding:0; margin:0;}
ul,ol,dl { list-style:none; }
a {color:#666666;;text-decoration: none;}
a:hover {color:#666666;text-decoration:none;}
a img {border: none;}
.clear {clear: both;line-height: 0px;font-size:0px;}
.content {width:1200px;margin: 0 auto;  }
.left {float:left;}
.right {float:right;}
.mt10 {margin-top:10px;}
.oh {height:100%;overflow: hidden;}


/*头部*/
.top{ background:#313a41; height:50px;}
.logo{ width:230px;}
.nav_box{ width:665px;}

.nav li{ display:block; float:left; width:95px; height:50px;line-height:50px;font-size:14px; color:#cdcdcd; text-align:center;}
.nav li a{ display:block;color:#cdcdcd;width:95px; height:50px;}
.nav li a:hover{ display:block;width:95px; height:50px;color:#ffffff;font-weight:700;background:#3689b3;}
.nav li.cn a,.nav li.cn a:hover{ display:block;width:95px; font-weight:700;height:50px;color:#ffffff;background:#3689b3;}

.dl_top{ width:120px; padding-left:185px;}
.dl_top li{ display:block; float:left; width:60px; text-align:center; background:url(../images/line.jpg) no-repeat left center; height:50px; line-height:50px; color:#a0a0a0; font-size:12px;}
.dl_top li a{color:#a0a0a0;}
.dl_top li a:hover{ color:#fff;}

/*banner*/
.banner{height:335px;}


.dl_box{  margin-left:900px;  margin-top:25px; width:260px; height:285px; padding:10px 20px 0px 20px; background:#383633;filter:alpha(opacity=80);   
      -moz-opacity:0.8;   
      -khtml-opacity: 0.8;   
      opacity: 0.8; color:#fff;   }
.dl_leibie{ height:30px; line-height:30px; margin-bottom:14px; border-bottom:1px dotted #f0f0f0;  text-align:left; font-weight:700; color:#fff;}

.name{ height:30px; line-height:30px; margin-bottom:12px; }
.name_l{ width:57px;  text-align:right;}
.name_r{ width:200px;}
.pwd{ height:30px; line-height:30px; margin-bottom:12px;}
.pwd_l{ width:57px;  text-align:right;}
.pwd_r{ width:200px;}
.leibie{ height:30px; width:260px; line-height:30px; margin-bottom:8px;}
.lp_l{ width:88px; }
.lp_m{ width:86px;}
.lp_r{ width:86px;}
.yanzheng{ height:20px; line-height:30px; margin-bottom:8px;}
.yanzheng_l{ width:57px;  text-align:right;}
.yanzheng_r{ width:200px;}
.wjpwd{height:20px; line-height:20px; text-align:right; padding-bottom:4px;  color:#fff;  }
.wjpwd a,.wjpwd a:hover{ color:#fff;}
.dl{ height:37px; line-height:37px;  padding-bottom:4px;  border-bottom:1px dotted #ccc;}


/*main*/
.main{ padding:20px 0px; width:100%; }

/*培训师*/
.pxshi_box{ height:525px; padding:15px 0px;background:#ffffff; margin-bottom:20px;}
.pxshi_box h4{ display:block;font-weight:100; height:40px; border-bottom:2px solid #ff7d00; background:url(../images/pxshi_h4.jpg) no-repeat 15px center; line-height:40px; font-size:18px; color:#ff7d00;font-weight:700; padding-left:70px;  }
.pxshi_box h4 span{ display:block; float:right; padding-right:15px;color:#ff7d00; font-size:14px; font-weight:100;}
.pxshi_box h4 span a,.pxshi_box h4 span a:hover{color:#ff7d00;}
.pxshi{ padding:15px 0px 0px 15px; height:470px;}

/*培训师_左边大图*/
.pxshi_l{ width:382px; height:464px; background:#faf9f9; border:1px solid #e7e5e5;  padding:1px;}
.pxshi_l_pic{ width:382px; height:322px;}
.pxshi_l_pic img{ width:382px; height:322px;}
.pxshi_l_intro{ padding:15px 10px; height:112px;}
.pxshi_name{ height:40px; line-height:40px;margin-bottom:5px;}
.pxshi_zp{ height:30px; line-height:30px;font-size:16px;margin-bottom:5px;}

.xm{ color:#ff7f00; font-size:24px; margin-right:150px;   }
.pl{ color:#ffa757; font-size:16px;}
.pl span{ color:#818180;}
.dz{ background:url(../images/dz1.jpg) no-repeat left center; padding-left:35px;font-size:16px;}

.pxshi_rz{ height:17px; line-height:17px;}
.pxshi_rz li{ display:block; float:left; margin-right:5px;}

/*培训师_左边8个缩略图*/
.pxshi_r{ width:786px;}
.pxshi_r li{ display:block; float:left; width:181px; height:223px;background:#faf8f9; border:1px solid #e7e5e5;  padding:1px; margin-right:10px; margin-bottom:13px;}
.pxshi_pic2{ width:181px; height:153px;}
.pxshi_pic2 img{ width:181px; height:153px;}
.pxshi_intro2{ height:62px;width:171px; padding:4px 5px;}
.pxshi_name2{ height:20px; line-height:20px;margin-bottom:2px;}
.pxshi_zp2{ height:16px; line-height:16px;font-size:12px;margin-bottom:3px;}

.xm2{ color:#ff7f00; font-size:16px; margin-right:40px;   }
.pl2{ color:#ffa757; font-size:12px;}
.pl2 span{ color:#818180;}
.dz2{ background:url(../images/dz2.jpg) no-repeat left center; padding-left:15px;font-size:12px;}
.rz2{}
.rz2 span{ display:block; float:left; margin-right:2px;}

/*培训生*/
.pxsheng_box{ height:325px;  padding:15px 0px;background:#ffffff; margin-bottom:20px;}
.pxsheng_box h4{ display:block;font-weight:100; height:40px; border-bottom:2px solid #3d9ccc; background:url(../images/pxsheng_h4.jpg) no-repeat 15px center; line-height:40px; font-size:18px; color:#3d9ccc;font-weight:700; padding-left:70px;  }
.pxsheng_box h4 span{ display:block; float:right; padding-right:15px;color:#3d9ccc; font-size:14px; font-weight:100;}
.pxsheng_box h4 span a,.pxsheng_box h4 span a:hover{color:#3d9ccc;}
.pxsheng{ padding:15px 15px 0px 15px; height:265px;}

.pxsheng li{ display:block; float:left; width:214px; height:260px;background:#faf8f9; border:1px solid #e7e5e5;  padding:1px; margin-right:20px;}
.pxsheng_pic{ width:214px; height:181px;}
.pxsheng_pic img{ width:214px; height:181px;}
.pxsheng_intro{ height:71px;width:204px; padding:4px 5px;}
.pxsheng_name{ height:24px; line-height:24px;}
.pxsheng_zw{ height:20px; line-height:20px;font-size:12px;margin-bottom:3px;margin-bottom:6px;}
.pxsheng_zw_l{ text-align:left;}
.pxsheng_zw_r{ text-align:right;}
.pxsheng_xm{ color:#3689b3; font-size:16px; margin-right:40px;   }
.pxsheng_pl{ color:#ffa757; font-size:12px;}
.pxsheng_pl span{ color:#818180;}

.pxsheng_rz{}
.pxsheng_rz span{ display:block; float:left; margin-right:8px;}

/*培训需求*/
.pxxq_box{ height:350px;padding:15px 0px;background:#fffbf8; margin-bottom:20px;}
.pxxq_box h4{ display:block;font-weight:100; height:40px; border-bottom:2px solid #ff7d00; background:url(../images/pxxq_h4.jpg) no-repeat 15px center; line-height:40px; font-size:18px; color:#ff7d00;font-weight:700; padding-left:70px;  }
.pxxq_box h4 span{ display:block; float:right; padding-right:15px;color:#ff7d00; font-size:14px; font-weight:100;}
.pxxq_box h4 span a,.pxxq_box h4 span a:hover{color:#ff7d00;}
.pxxq{ padding:15px 15px 0px 15px; height:295px;}
.pxxq li{
	margin-bottom: 15px;
	width: 1138px;
	height: 105px;
	background: #fffbf8;
	border: 1px solid #e5e5e5;
	padding: 15px;
	position: relative;
	left: 0px;
}
.pxxq_l{ width:610px;padding:10px 15px 0x 15px; border-right:1px dotted #e5e5e5;height: 105px;}
.zw_name{ font-size:16px; line-height:24px; height:24px; color:#ff7d00; font-weight:700; margin-bottom:8px;}
.dy_box{ height:24px; line-height:24px;margin-bottom:8px; color:#666666;}
.dy_box span{ display:block; float:left; padding:0px 10px; background:url(../images/line2.jpg) no-repeat right center;color:#666666;}
.dy_box span a{color:#666666;}
.dy_box span.cn a,.dy_box span.cn a:hover{color:#ff7d00;}
.fb_box{ height:24px; line-height:24px; font-size:12px; color:#9c9c9c; }
.fb_box a,.fb_box a:hover{color:#9c9c9c;}
.fb_box span{ display:block; float:left; padding:0px 10px; background:url(../images/line2.jpg) no-repeat right center;}


.pxxq_r{ width:490px;padding:10px 15px 0x 15px; }
.qy{ height:55px; margin-bottom:15px; }
.qy_l{ width:100px; height:50px; border:1px solid #f0f0f0; padding:2px; }
.qy_r{ width:365px;}
.qy_name{ text-align:left; font-size:16px; line-height:24px; height:24px; color:#000;  margin-bottom:4px;}
.qy_name span{ display:block; float:right; font-size:12px; font-weight:100; padding-right:25px;color:#3e9dcb;}
.qy_name span a,.qy_name span a:hover{color:#3e9dcb;}


.jyfw{ line-height:24px; height:24px; color:#9c9c9c; font-weight:100}
.jyfw a,.jyfw a:hover{color:#9c9c9c;}
.fl{ }
.fl span{padding:0px 10px; background:#fff6ee; border:1px solid #ffeddc; margin-right:10px; height:24px; line-height:24px; font-size:12px; }
.fl span a,.fl span a:hover{color:#ff7d00;}
.qz{
	position: absolute;
	left: 1127px;
	top: -1px;
	background: url(../images/qz.gif) no-repeat right top;
	height: 43px;
	width: 41px;
} 
.jz{
	position: absolute;
	left: 1127px;
	top: -1px;
	background: url(../images/jz.gif) no-repeat right top;
	height: 43px;
	width: 41px;
} 
/*汽车人需求*/
.qcrxq_box{ height:350px;padding:15px 0px;background:#f7fcff; margin-bottom:20px;}
.qcrxq_box h4{ display:block;font-weight:100; height:40px; border-bottom:2px solid #3d9ccc; background:url(../images/qcrxq_h4.jpg) no-repeat 15px center; line-height:40px; font-size:18px; color:#3d9ccc;font-weight:700; padding-left:70px;  }
.qcrxq_box h4 span{ display:block; float:right; padding-right:15px;color:#3d9ccc; font-size:14px; font-weight:100;}
.qcrxq_box h4 span a,.qcrxq_box h4 span a:hover{color:#3d9ccc;}
.qcrxq{ padding:15px 15px 0px 15px; height:295px;}
.qcrxq li{margin-bottom: 15px;width: 1138px;height: 105px;background: #f7fcff;border: 1px solid #e5e5e5;	padding: 15px;
	
}
.qcrxq_l{ width:610px;padding:10px 15px 0x 15px; border-right:1px dotted #e5e5e5;height: 105px;}
.qcrxq_zw_name{ font-size:16px; line-height:24px; height:24px; color:#3d9ccc; font-weight:700; margin-bottom:8px;}


.qcrxq_dy_box{ height:24px; line-height:24px;margin-bottom:4px; color:#666666;}
.qcrxq_dy_box span{ display:block; float:left; padding:0px 10px; background:url(../images/line2.jpg) no-repeat right center;color:#666666;}
.qcrxq_dy_box span a{color:#666666;}
.qcrxq_dy_box span.cn a,.dy_box span.cn a:hover{color:#3d9ccc;}
.qcrxq_fb_box{ height:20px; line-height:20px; font-size:12px; color:#9c9c9c; }
.qcrxq_fb_box a,.qcrxq_fb_box a:hover{color:#9c9c9c;}
.qcrxq_fb_box span{ display:block; float:left; padding:0px 10px; background:url(../images/line3.jpg) no-repeat right center;}
.pingpai{height:20px; line-height:20px; font-size:12px;margin-bottom:4px; }
.pingpai em{ float:left;font-style:normal; font-weight:100;}
.pingpai span{ display:block; float:left; margin-right:5px; border:1px solid #bed8e5; height:18px; line-height:18px;padding:0px 10px;}


.qcrxq_r{ width:490px;padding:10px 0px 0x 15px; }
.qcrxq_qy{ height:55px; margin-bottom:15px; }
.qcrxq_qy_l{ width:100px; height:50px; border:1px solid #f0f0f0; padding:2px; }
.qcrxq_qy_r{ width:365px;}
.qcrxq_qy_name{ font-size:16px; line-height:24px; height:24px; color:#000; font-weight:100; margin-bottom:4px;}
.qcrxq_qy_name span{ display:block; float:right; font-size:12px; font-weight:100; padding-right:25px;color:#ff7d00;}
.qcrxq_qy_name span a,.qcrxq_qy_name span a:hover{color:#ff7d00;}



.qcrxq_jyfw{ line-height:24px; height:24px; color:#9c9c9c; font-weight:100}
.qcrxq_jyfw a,.qcrxq_jyfw a:hover{color:#9c9c9c;}
.qcrxq_fl{ }
.qcrxq_fl span{padding:0px 10px; background:#e8f6ff; border:1px solid #dceff6; margin-right:10px; height:24px; line-height:24px; font-size:12px; }
.qcrxq_fl span a,.qcrxq_fl span a:hover{color:#3e9dcb;}


/*底部文章*/
.art_box{ height:270px;background:#f3f1f2; }

/*原创文章*/
.ycwz{ width:390px; margin-right:15px;height:270px; background:#fff;}
.ycwz h4{ display:block;font-weight:100; height:40px; padding-top:10px; border-bottom:2px solid #ffcf67; background:url(../images/ycwz_h4.jpg) no-repeat 10px center; line-height:40px; font-size:18px; color:#ffcf67;font-weight:700; padding-left:60px;  }
.ycwz h4 span{ display:block; float:right; padding-right:10px;color:#ffcf67; font-size:14px; font-weight:100;}
.ycwz h4 span a,.ycwz h4 span a:hover{color:#ffcf67;}
.ycwz_box{ padding:15px 10px;}
.ycwz_box li{ display:block; height:35px; line-height:35px; background:url(../images/icon.jpg) no-repeat 5px center; border-bottom:1px dotted #bfbfbf; padding-left:14px; font-size:12px;}
.ycwz_box li span{ display:block; float:right; padding-right:5px; color:#b9bdc0;}
.ycwz_box li span a,.ycwz_box li span a:hover{ color:#b9bdc0;}


/*培训学院热点议题*/
.yiti{ width:390px; margin-right:15px;height:270px; background:#fff;}
.yiti h4{ display:block;font-weight:100; height:40px;padding-top:10px; border-bottom:2px solid #a1c25a; background:url(../images/yiti_h4.jpg) no-repeat 10px center; line-height:40px; font-size:18px; color:#a1c25a;font-weight:700; padding-left:60px;  }
.yiti h4 span{ display:block; float:right; padding-right:15px;color:#a1c25a; font-size:14px; font-weight:100;}
.yiti h4 span a,.yiti h4 span a:hover{color:#a1c25a;}
.yiti_box{ padding:15px 10px;}
.yiti_box li{ display:block; height:35px; line-height:35px; background:url(../images/icon.jpg) no-repeat 5px center; border-bottom:1px dotted #bfbfbf; padding-left:14px; font-size:12px;}
.yiti_box li span{ display:block; float:right; padding-right:5px; color:#b9bdc0;}
.yiti_box li span a,.yiti_box li span a:hover{ color:#b9bdc0;}




/*公开课*/
.gkk{ width:390px; height:270px; background:#fff;}
.gkk h4{ display:block;font-weight:100; height:40px;padding-top:10px; border-bottom:2px solid #d76b63; background:url(../images/gkk_h4.jpg) no-repeat 10px center; line-height:40px; font-size:18px; color:#d76b63;font-weight:700; padding-left:60px;  }
.gkk h4 span{ display:block; float:right; padding-right:15px;color:#a1c25a; font-size:14px; font-weight:100;}
.gkk h4 span a,.yiti h4 span a:hover{color:#d76b63;}
.gkk_box{ padding:15px 10px;}
.gkk_box li{ display:block; height:35px; line-height:35px; background:url(../images/icon.jpg) no-repeat 5px center; border-bottom:1px dotted #bfbfbf; padding-left:14px; font-size:12px;}
.gkk_box li span{ display:block; float:right; padding-right:5px; color:#b9bdc0;}
.gkk_box li span a,.gkk_box li span a:hover{ color:#b9bdc0;}



/*底部信息*/
.footer{ width:100%; background:url(../images/footer_bg.jpg) repeat-x left top;height:90px; padding-top:40px;}

.bq{ line-height:24px; color:#000; text-align:center;}
