<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http pattern="/assets/**" security="none" /> 
	<security:http use-expressions="true" entry-point-ref="entryPoint" access-decision-manager-ref="accessDecisionManager">
		<security:access-denied-handler error-page="/error/handle/401"/>
		<security:headers disabled="true"/>
		<security:csrf disabled="true"/>
		<security:x509 subject-principal-regex="CN=(.*?)," user-service-ref="userDetailsService"/>
		
		<security:intercept-url pattern="/website/**" access="permitAll" />
		<security:intercept-url pattern="/p/**" access="permitAll"/>
		<security:intercept-url pattern="/app/**" access="permitAll"/>
		<security:intercept-url pattern="/cust/login*/**" access="permitAll" />
		<security:intercept-url pattern="/cust/register*/**" access="permitAll" />
		<security:intercept-url pattern="/cust/forgotPassword*/**" access="permitAll" />
		<security:intercept-url pattern="/login*/**" access="permitAll" />
		<security:intercept-url pattern="/oauth*/**" access="permitAll" />
		<security:intercept-url pattern="/locale" access="permitAll" />
		<security:intercept-url pattern="/setup" access="permitAll" />
		<security:intercept-url pattern="/wechat" access="permitAll" />
		<security:intercept-url pattern="/weshare/nationalDay*" access="permitAll" />
		<security:intercept-url pattern="/weshare/photographyRedirect" access="permitAll" />
		<security:intercept-url pattern="/weshare/drawRedirect" access="permitAll" />
		<security:intercept-url pattern="/weshare/banditRedirect" access="permitAll" />
		<security:intercept-url pattern="/weshare/resort*" access="permitAll" />
		<security:intercept-url pattern="/activity/instantRush*" access="permitAll" />
		<security:intercept-url pattern="/activity/instantRush/chkLogin*" access="permitAll" />
		<security:intercept-url pattern="/activity/instantRush/second*" access="permitAll" />
		<security:intercept-url pattern="/activity/instantRush/reg*" access="permitAll" />
		<security:intercept-url pattern="/activity/instantRush/doReg*" access="permitAll" />
		<security:intercept-url pattern="/activity/instantRush/getCode" access="permitAll" />
		<security:intercept-url pattern="/activity/instantRush/sendMsg" access="permitAll" />
		<security:intercept-url pattern="/activity/instantRush/start" access="hasRole('ROLE_BUILTIN_USER')" />
		<security:intercept-url pattern="/activity/instantRush/**" access="hasRole('ROLE_BUILTIN_CUSTOMER')" />
		<security:intercept-url pattern="/weshare/share*" access="permitAll" />
		<security:intercept-url pattern="/redirect" access="permitAll" />
		<security:intercept-url pattern="/poll/**" access="permitAll" />
		<security:intercept-url pattern="/cust/share" access="permitAll" />
		<security:intercept-url pattern="/signup*/**" access="hasRole('ROLE_BUILTIN_ANONYMOUS')" />
		<security:intercept-url pattern="/signin*/**" access="hasRole('ROLE_BUILTIN_ANONYMOUS')" />
		<security:intercept-url pattern="/cust/**" access="hasRole('ROLE_BUILTIN_CUSTOMER')" />
		<security:intercept-url pattern="/weshare/**" access="hasRole('ROLE_BUILTIN_CUSTOMER')" />
		<security:intercept-url pattern="/common/**" access="hasRole('ROLE_ADMINISTRATOR')" />
		<security:intercept-url pattern="/" access="permitAll"/>
		<security:intercept-url pattern="/**" access="hasRole('ROLE_BUILTIN_USER')"/>
		<security:session-management session-fixation-protection="migrateSession" />
		<security:remember-me services-ref="rememberMeServices" />
		<security:anonymous granted-authority="ROLE_BUILTIN_ANONYMOUS" username="anonymousUser" key="anonymous" />
		<security:logout logout-url="/logout" invalidate-session="true" success-handler-ref="logoutSuccessHandler" />
		<security:custom-filter ref="authenticationFilter" position="FORM_LOGIN_FILTER" />
<!-- 		<security:intercept-url pattern="/switch" access="ROLE_ADMINISTRATOR"/> 
			<security:intercept-url pattern="/exit" access="ROLE_PREVIOUS_ADMINISTRATOR"/> 
			<security:custom-filter ref="switchUserProcessingFilter" position="SWITCH_USER_FILTER"/> -->
	</security:http> 
</beans>